<a href="https://colab.research.google.com/github/namozhdehi/KSR/blob/main/NYC_Taxi_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exploratory Data Analysis**

# **Import libraries**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

# **Reading Files into Python**

In [3]:
df = pd.read_csv('nyc_taxi_trip_duration.csv')

In [4]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id1080784,2,2016-02-29 16:40:21,2016-02-29 16:47:01,1,-73.953918,40.778873,-73.963875,40.771164,N,400
1,id0889885,1,2016-03-11 23:35:37,2016-03-11 23:53:57,2,-73.988312,40.731743,-73.994751,40.694931,N,1100
2,id0857912,2,2016-02-21 17:59:33,2016-02-21 18:26:48,2,-73.997314,40.721458,-73.948029,40.774918,N,1635
3,id3744273,2,2016-01-05 09:44:31,2016-01-05 10:03:32,6,-73.961670,40.759720,-73.956779,40.780628,N,1141
4,id0232939,1,2016-02-17 06:42:23,2016-02-17 06:56:31,1,-74.017120,40.708469,-73.988182,40.740631,N,848

In [6]:
df.tail()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
729317,id3905982,2,2016-05-21 13:29:38,2016-05-21 13:34:34,2,-73.965919,40.789780,-73.952637,40.789181,N,296
729318,id0102861,1,2016-02-22 00:43:11,2016-02-22 00:48:26,1,-73.996666,40.737434,-74.001320,40.731911,N,315
729319,id0439699,1,2016-04-15 18:56:48,2016-04-15 19:08:01,1,-73.997849,40.761696,-74.001488,40.741207,N,673
729320,id2078912,1,2016-06-19 09:50:47,2016-06-19 09:58:14,1,-74.006706,40.708244,-74.013550,40.713814,N,447
729321,id1053441,2,2016-01-01 17:24:16,2016-01-01 17:44:40,4,-74.003342,40.743839,-73.945847,40.712841,N,1224

In [7]:
df.shape

(729322, 11)

In [8]:
df.columns

Index(['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'store_and_fwd_flag',
       'trip_duration'],
      dtype='object')

# **Variable Identification and Typecasting**

In [9]:
df.dtypes

id                     object
vendor_id               int64
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
store_and_fwd_flag     object
trip_duration           int64
dtype: object

# **Integer Data Type**

In [10]:
df.dtypes[df.dtypes == 'int64']

vendor_id          int64
passenger_count    int64
trip_duration      int64
dtype: object

**Summary:**
- **vendor_id** are a unique number assigned to customers therefore it is **Ok to be integer**.
- **passenger_count** shows the number of passanger in each trips and it's **OK to be integer.**
- **trip_duration** indicates length of each trip so it's **OK to be integer.**

# **Float Data Type**

In [11]:
df.dtypes[df.dtypes == 'float64']

pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
dtype: object

**Summary:**
- **pickup_longitude** is expected to be a float number so it **should not be changed.**
- **pickup_latitude** is expected to be a float number therefore **we do not need to change it.**
- **dropoff_longitude** is expected to be a float number so it **should not be changed.**
- **dropoff_latitude** is expected to be a float number therefore **we do not need to change it.**

In [12]:
df.dtypes

id                     object
vendor_id               int64
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
store_and_fwd_flag     object
trip_duration           int64
dtype: object

*    **variables like 'pickup_datetime'** and **'dropoff_datetime' has  object type**. This means that **Pandas was not able to recognize the datatype** of these three variables.

In [13]:
df[['pickup_datetime',  'dropoff_datetime' , 'store_and_fwd_flag' ]].head()

       pickup_datetime     dropoff_datetime store_and_fwd_flag
0  2016-02-29 16:40:21  2016-02-29 16:47:01                  N
1  2016-03-11 23:35:37  2016-03-11 23:53:57                  N
2  2016-02-21 17:59:33  2016-02-21 18:26:48                  N
3  2016-01-05 09:44:31  2016-01-05 10:03:32                  N
4  2016-02-17 06:42:23  2016-02-17 06:56:31                  N

In [14]:
df['store_and_fwd_flag'].value_counts()

store_and_fwd_flag
N    725282
Y      4040
Name: count, dtype: int64

- **'pickup_datetime' and 'dropoff_datetime'** should be a datetime variable.